.cover .img-responsive {
    width: 100%
}

.jumbotron{
    background: none;
}
.jumbotron h1{
    font-size: 63px;
    text-align:center;
    margin:0
}
.jumbotron p.lead {
    font-family:"Georgia";
    text-align:center;
    font-size:36px;
    font-style:italic;
    color:#ccc;
}

